# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

export/
runtime/
runtimed/
*.vcxproj
*.vcxproj.filters
!scr_server\scr_server.vcxproj
_UpgradeReport_Files/
*.suo
*UpgradeLog*
TORCS.sdf
TORCS.opensdf
Backup/
**/Debug/
**/Release/

autom4te.cache
scr_client/client
scr_client/client.exe
data/tracks/road/open_space/*
src/libs/txml/gennmtab/gennmtab
src/linux/torcs-bin
runtime
